name: Build and Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - goos: linux
            goarch: amd64
            ext: ''
          - goos: windows
            goarch: amd64
            ext: '.exe'
          - goos: linux
            goarch: arm64
            ext: ''

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Build
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
        run: |
          go build -o luckyboy-${{ matrix.goos }}-${{ matrix.goarch }}${{ matrix.ext }}

      - name: Upload binaries
        uses: softprops/action-gh-release@v2
        with:
          files: luckyboy-*
